@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Noto Sans Georgian",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Noto Sans Georgian", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace !important;
}

.df { display: flex; }
.fdr { flex-direction: row; }
.fdc { flex-direction: column; }
.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcse { justify-content: space-evenly; }
.jcsa { justify-content: space-around; }

:root {
  --color-orange: #ff914c;
  --color-orange-transparent: rgba(255, 145, 76, 0.7);
  --color-green: #005841;
  --color-green-transparent: rgba(0, 88, 65, 0.7);
  --color-blue: #123257;
  --color-yellow: #e9f250;
  --color-white: #f6f5e3;
  --color-white-white: #fafafa;
  --color-black: #0d0d0b;
  --color-gray: #9da6a6;
}

::selection {
  background-color: var(--color-orange);
}

.loader {
  width: 140px;
  height: 70px;
  border-radius: 0 0 100px 100px;
  border: 8px solid #538a2d;
  border-top: 0;
  box-sizing: border-box;
  background:
          radial-gradient(farthest-side at top, #0000 calc(100% - 8px), #e7ef9d calc(100% - 7px)),
          radial-gradient(4px 6px, #5c4037 89%, #0000) 0 0/32px 24px,
          #ff1643;
  --c: radial-gradient(farthest-side, #000 94%, #0000);
  -webkit-mask:
          linear-gradient(#0000 0 0),
          var(--c) 20px -15px,
          var(--c) 52px -15px,
          var(--c) 80px -11px,
          var(--c) 38px -4px,
          var(--c) 64px 12px,
          var(--c) 40px 12px,
          linear-gradient(#000 0 0);
  mask:
          linear-gradient(#000 0 0),
          var(--c) 20px -15px,
          var(--c) 52px -15px,
          var(--c) 80px -11px,
          var(--c) 38px -4px,
          var(--c) 64px 12px,
          var(--c) 40px 12px,
          linear-gradient(#0000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude, add, add, add, add, add, add;
  -webkit-mask-repeat: no-repeat;
  animation: l8 3s infinite;
}
@keyframes l8 {
  0%   {-webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0}
  15%  {-webkit-mask-size: auto, 35px 35px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0}
  30%  {-webkit-mask-size: auto, 35px 35px, 35px 35px, 0 0, 0 0, 0 0, 0 0}
  45%  {-webkit-mask-size: auto, 35px 35px, 35px 35px, 35px 35px, 0 0, 0 0, 0 0}
  60%  {-webkit-mask-size: auto, 35px 35px, 35px 35px, 35px 35px, 35px 35px, 0 0, 0 0}
  75%  {-webkit-mask-size: auto, 35px 35px, 35px 35px, 35px 35px, 35px 35px, 35px 35px, 0 0}
  90%,100% {-webkit-mask-size: auto, 35px 35px, 35px 35px, 35px 35px, 35px 35px, 35px 35px, 35px 35px}
}

/* Hide native scrollbars */
#horizontal-scroll::-webkit-scrollbar {
    display: none;
}
#horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-x;
}

.swiper-wrapper {
    transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1) !important;
}

html,
body {
    scroll-behavior: smooth;
    background: black;
}


